name: CI

on:
  push:
  
    branches:
    
      - '*'
   
jobs:
  
  build:
    
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install xmlstarlet bc
        run: |
            sudo apt-get update && sudo apt-get install -y xmlstarlet
            sudo apt-get update && sudo apt-get install -y bc 

      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '8'
          distribution: 'temurin'
          
      - name: Compilacion
        run: |
          mvn package
          
      - name: Unit Test
        run: |
          mvn -B package test
      
      - name: validacion umbral de codigo
        run: |
          coverage=$(xmlstarlet sel -t -v "sum(//counter[@type='LINE']/@covered) div sum(//counter[@type='LINE']/@missed)" target/site/jacoco/jacoco.xml)
          echo "Code Coverage: $coverage"
          
      - name: Extraer code coverage
        run: |
          coverage=$(xmlstarlet sel -t -v "sum(//counter[@type='LINE']/@covered) div sum(//counter[@type='LINE']/@missed)" target/site/jacoco/jacoco.xml)
          echo "::set-output name=coverage::$coverage"



